

<%= render 'layouts/tweet_button' %>
  

<div class="row">
  
  <% @books.each do |book| %>
  <div class="col-md-4">
    <div class="thumbnail">
      <%= image_tag book.image_url %>
      <div class="caption">
        <h3><%= book.title %></h3>
        <p><%= book.author %></p>
        <p><a href="<%= book.detail_page_url %>" class="btn btn-primary centerize" role="button">Something</a></p>
        <p><%= book.content.html_safe if book.content %></p>
      </div>
    </div>
  </div>
  
<% end %>






