


<% @books.each do |book| %>

<p>
	<strong>Title:</strong>
	<%= book.title %>
	<br>
	<strong>Author:</strong>
	<%= book.author %>
	<br>
	<strong>Image:</strong>
	<%= book.image %>
	<br>
	<strong>Url:</strong>
	<%= book.url %>
	<br>
	<strong>Category:</strong>
	<%= book.category %>
	<br>
</p>

<% end %>