<!-- WEB BROWSER THREE BOOKS -->

<div class="row">

	<% @selection.books.each do |book| %>

		<div class="col-lg-3 col-lg-offset-1 logo">  
			<div class="view view-third animated flipInX">
		      <%= image_tag book.image_url %>  
		     	<div class="mask"> 
		     		<h2><%= book.title %></h2>
		     		<p><%= book.author %></p> 
		     		<p><%= book.content.truncate(350) %></p>
		     		<p> <%= link_to "Read More", book.detail_page_url, class:"info"	%> </p>
		       	  
		     </div>  
		 	</div>
		</div>

	<% end %>
	
</div>