<!-- WEB BROWSER THREE BOOKS -->


<div id="webbrowser">
	<div class="row">
		<div class="col-lg-3 col-lg-offset-1 logo">  
			<div class="view view-third animated flipInX">
		      <%= image_tag @selection.books[0].image_url %>  
		     	<div class="mask"> 
		     		<h2><%= @selection.books[0].title %></h2>
		     		<p><%= @selection.books[0].author %></p> 
		     		<p><%= @selection.books[0].content.truncate(350) %></p>
		     		<p> <%= link_to "Read More", @selection.books[0].detail_page_url, class:"info"	%> </p>
		       	  
		     </div>  
		 	</div>
		</div>

		<div class="col-lg-3">  
			<div class="view view-third animated flipInX">
		     <%= image_tag @selection.books[1].image_url %>  
		     <div class="mask">  
		     	<h2><%= @selection.books[1].title %></h2>  
		     	<p><%= @selection.books[1].author %></p>  
		     	<p><%= @selection.books[1].content.truncate(350) %></p>
		      <p> <%= link_to "Read More", @selection.books[1].detail_page_url, class:"info"	%> </p>
		      </div>
		    </div> 
		 </div>

		<div class="col-lg-3">  
		<div class="view view-third animated flipInX">
		     <%= image_tag @selection.books[2].image_url %>  
		     <div class="mask">  
		     	<h2><%= @selection.books[2].title %></h2>  
		     	<p><%= @selection.books[2].author %></p>
		     	<p><%= @selection.books[2].content.truncate(350) %></p>  
		      <p> <%= link_to "Read More", @selection.books[2].detail_page_url, class:"info"	%> </p> 
		       </div>
		     </div>  
		</div>    
	</div>

</div>

<!-- MOBILE CAROUSLEL THREE BOOKS -->

<div id="mobile">
	
	  <div class="row">
    <div class='col-md-offset-2 col-md-8 text-center'>
    <h4>@chrishillonline's #dogearedpages</h4>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-offset-2 col-md-8'>
      <div class="carousel slide" data-ride="carousel" id="quote-carousel">
        <!-- Bottom Carousel Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#quote-carousel" data-slide-to="0" class="active"></li>
          <li data-target="#quote-carousel" data-slide-to="1"></li>
          <li data-target="#quote-carousel" data-slide-to="2"></li>
        </ol>
                  <!-- <img src="images/Mr._Tickle.jpg" style="width: 200px;"> -->
        
        <!-- Carousel Slides / Quotes -->
        <div class="carousel-inner">
        
          <!-- Quote 1 -->
          <div class="item active">
            <blockquote>
              <%= image_tag @selection.books[0].image_url, style:"width: 150px;" %> 
              <div class="container">
                  <p class="text-center"><strong>Rodger Hargreeves</strong><p>
                  <p class="text-center"><strong>Mr Tickle</strong><p>
                  <p class="text-center"> View more...</a></p><br>
              </div>
            </blockquote>
          </div>
          <!-- Quote 2 -->
          <div class="item">
            <blockquote>
              <%= image_tag @selection.books[1].image_url, style:"width: 150px;" %>  
              <div class="container">
                <p class="text-center"><strong>Rodger Hargreeves</strong><p>  
                <p class="text-center"><strong>Mr Bump</strong><p>
                <p class="text-center"><a class="btn btn-lg btn-primary" target="blank" href="http://www.amazon.co.uk/Mr-Bump-Mr-Men-Digital/dp/1405235578/ref=sr_1_1?s=books&ie=UTF8&qid=1391873641&sr=1-1&keywords=mr+bump" role="button">View more...</a></p><br>
              </div>
            </blockquote>
          </div>
          <!-- Quote 3 -->
          <div class="item">
            <blockquote>
              <%= image_tag @selection.books[2].image_url, style:"width: 150px;" %>  
              <div class="container">
                <p class="text-center"><strong>Rodger Hargreeves</strong><p>
                <p class="text-center"><strong>Mr Strong</strong><p>
                <p class="text-center"><a class="btn btn-lg btn-primary" target="blank" href="http://www.amazon.co.uk/Mr-Strong-Men-Classic-Library/dp/1405235721/ref=sr_1_1?s=books&ie=UTF8&qid=1391873715&sr=1-1&keywords=mr+strong" role="button">View more...</a></p><br>
              </div>
            </blockquote>
          </div>
        </div>
        
        <!-- Carousel Buttons Next/Prev -->
        <a data-slide="prev" href="#quote-carousel" class="left carousel-control"><i class="fa fa-chevron-left"></i></a>
        <a data-slide="next" href="#quote-carousel" class="right carousel-control"><i class="fa fa-chevron-right"></i></a>
      </div>                          
    </div>
  </div>
  <div class="container">
    <p class="text-center"><strong>Someone will be intrested in yours..</strong></p>
    <p class="text-center"><a class="btn btn-lg btn-primary" href="index.html" role="button">Share mine</a></p>
	</div>

</div>



