<div class="row">
  <div class="col-md-4 book" data-book-id="1" data-filled='false'> 
    <!-- <div class="numbertitle"> -->
      <h3>1</h3>
      <%= image_tag 'ajax-loader.gif', class: 'spinner' %>
    <!-- </div> -->
      <div class="view view-third">
        <div class='image-box'>
          <%= image_tag("", class: "panel-image-preview") %> 
          <h1>Edit</h1>
        </div>
        <!-- </div> -->
          <div class="mask">
            <a class= 'close' href='#'>✖</a>
            <div class="panel-body">
              <h2></h2>
              <h4></h4>
              <button class="btn-success next_book" id="choose_another">Change Cover</button>
              <button class='close'>Delete Book</button>
              <p></p>
            </div>
          </div>
      </div>
  </div>

       

    <div class="col-md-4 book" data-book-id="2" data-filled='false'>
      <h3>2</h3>
      <%= image_tag 'ajax-loader.gif', class: 'spinner' %>
      <div class="view view-third">      
        <div class='image-box'>
          <%= image_tag("", class: "panel-image-preview") %> 
          <h1>Edit</h1>
        </div>        
        <div class="mask">
        <a class= 'close' href='#'>✖</a>
          <div class="panel-body">
            <h2></h2>
            <h4></h4>
            <button class="btn-success next_book" id="choose_another">Change Cover</button>
            <button class='close'>Delete Book</button>
            <p></p>
          </div>
        </div>
      </div>
    </div>





  <div class="col-md-4 book" data-book-id="3" data-filled='false'>
    <h3>3</h3>
    <%= image_tag 'ajax-loader.gif', class: 'spinner' %>
    <div class="view view-third">      
        <div class='image-box'>
          <%= image_tag("", class: "panel-image-preview") %> 
          <h1>Edit</h1>
        </div>        
        <div class="mask">
          <div class="panel-body">
            <h2></h2>
            <h4></h4>
            <button class="btn-success next_book" id="choose_another">Change Cover</button>
            <button class='close'>Delete Book</button>
            <p></p>
          </div>
        </div>
    </div>
  </div>
</div>
