<div class="non-mobile" id="webbrowser">

<div class="row">
  <div class="col-md-4 book" data-book-id="1" data-filled='false'> 
    <!-- <div class="numbertitle"> -->
      <h3>1</h3>
      <%= image_tag 'ajax-loader.gif', class: 'spinner' %>
    <!-- </div> -->
      <div class="view view-third">
        <div class='image-box'>
          <%= image_tag("", class: "panel-image-preview") %> 
          <h1>Edit</h1>
        </div>
        <!-- </div> -->
          <div class="mask">
            <div class="panel-body">
              <h2></h2>
              <h4></h4>
              <button class="btn-success next_book" id="choose_another">Change Cover</button>
              <button class="btn-success delete_book">Delete Book</button>
              <p></p>
            </div>
          </div>
      </div>
  </div>

       

    <div class="col-md-4 book" data-book-id="2" data-filled='false'>
      <h3>2</h3>
      <%= image_tag 'ajax-loader.gif', class: 'spinner' %>
      <div class="view view-third">      
        <div class='image-box'>
          <%= image_tag("", class: "panel-image-preview") %> 
          <h1>Edit</h1>
        </div>        
        <div class="mask">
          <div class="panel-body">
            <h2></h2>
            <h4></h4>
            <button class="btn-success next_book" id="choose_another">Change Cover</button>
            <button class="btn-success delete_book">Delete Book</button>
            <p></p>
          </div>
        </div>
      </div>
    </div>





  <div class="col-md-4 book" data-book-id="3" data-filled='false'>
    <h3>3</h3>
    <%= image_tag 'ajax-loader.gif', class: 'spinner' %>
    <div class="view view-third">      
        <div class='image-box'>
          <%= image_tag("", class: "panel-image-preview") %> 
          <h1>Edit</h1>
        </div>        
        <div class="mask">
          <div class="panel-body">
            <h2></h2>
            <h4></h4>
            <button class="btn-success next_book" id="choose_another">Change Cover</button>
            <button class="btn-success delete_book">Delete Book</button>
            <p></p>
          </div>
        </div>
    </div>
  </div>
</div>
</div>














<div class="non-web" id="mobile">
  
   
  <div class='row'>
    <div class='col-md-offset-2 col-md-8'>
      <div class="carousel slide" data-ride="carousel" id="quote-carousel">
        <!-- Bottom Carousel Indicators -->
        <ol class="carousel-indicators">
          <li class="dot" data-target="#quote-carousel" data-slide-to="1" class="active"></li>
          <li data-target="#quote-carousel" data-slide-to="2"></li>
          <li data-target="#quote-carousel" data-slide-to="3"></li>
        </ol>
                  <!-- <img src="images/Mr._Tickle.jpg" style="width: 200px;"> -->
        
        <!-- Carousel Slides / Quotes -->
        <div class="carousel-inner">
        
          <!-- Quote 1 -->
          <div class="item active">    
            <div class="book" data-book-id="1" data-filled='false'> 
            <%= image_tag 'ajax-loader.gif', class: 'spinner2', :style => "display: none" %>
              <blockquote>
                <%= image_tag("https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRsq3p9YpKBhqnO26Kj6ptABh0cVYCN_4T8CimRpJ0ZiFvEJZyy", class: "panel-image-preview", style:"width: 150px;") %>            
                <button class="btn-success next_book" id="choose_another">Wrong Cover?</button>
              </blockquote>
                <button class='btn-success delete_book'>delete book</button>
            </div>
          </div>
          <!-- Quote 2 -->

          <div class="item">
            <div class="book" data-book-id="2" data-filled='false'> 
              <blockquote>
                <%= image_tag("https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRsq3p9YpKBhqnO26Kj6ptABh0cVYCN_4T8CimRpJ0ZiFvEJZyy", class: "panel-image-preview", style:"width: 150px;") %>  
                <button class="btn-success next_book" id="choose_another">Wrong Cover?</button>
              </blockquote>
              <button class='btn-success delete_book'>delete book</button>
            </div>
          </div>  
          <!-- Quote 3 -->
        <div class="item">
          <div class="book" data-book-id="3" data-filled='false'> 
            <blockquote>
              <%= image_tag("https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRsq3p9YpKBhqnO26Kj6ptABh0cVYCN_4T8CimRpJ0ZiFvEJZyy", class: "panel-image-preview", style:"width: 150px;") %>
              <button class="btn-success next_book" id="choose_another">Wrong Cover?</button>
            </blockquote>
            <button class='btn-success delete_book'>delete book</button>
          </div>
        </div>
        
      </div>                          
        <a data-slide="prev" href="#quote-carousel" class="left carousel-control"><i class="icon-chevron-left"></i></a>
        <a data-slide="next" href="#quote-carousel" class="right carousel-control"><i class="icon-chevron-right"></i></a>
    </div>
  </div>
  


  </div>
</div>

