
<html>
  <head>
    <title>Books</title>
    <!-- Obtain Bootstrap style sheet from CDN (online service) so it doesn't have to be on my machine -->
    <!-- Check http://www.bootstrapcdn.com/ for latest version. -->
      <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
      <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
      <link href="main.css" rel="stylesheet">
      <link href='http://fonts.googleapis.com/css?family=Lobster|Old+Standard+TT' rel='stylesheet' type='text/css'>
      <link rel="stylesheet" href="css/buttons.css">


      <meta name="viewport" content="initial-scale=1 maximum-scale=1">


      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
      <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
      <meta name="description" content="3D Thumbnail Hover Effects" />
      <meta name="keywords" content="3d, 3dtransform, hover, effect, thumbnail, overlay, curved, folded" />
      <meta name="author" content="Codrops" />
      <link rel="shortcut icon" href="../favicon.ico"> 
      <link rel="stylesheet" type="text/css" href="css/demo.css" />
      <link rel="stylesheet" type="text/css" href="css/style_common.css" />
      <link rel="stylesheet" type="text/css" href="css/style1.css" />
      <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700,300,300italic' rel='stylesheet' type='text/css' />
      <script type="text/javascript" src="js/modernizr.custom.69142.js"></script> 

      <link rel="stylesheet" href="animate.min.css">
 
  </head>
  <body>

<div id="webbrowser">
  <div class="container">
    <div class="col-xs-12 col-md-12">
      <div class="row">
        <div class="col-xs-12 col-md-4 col-md-offset-1" id="top">
          <h1>
            #dogears
          </h1>
        </div>
  

          <div class="col-xs-12 col-md-4 col-md-offset-3" id="top">
            <p class="quotes">Outside of a dog, a book is a man’s best friend. Inside of a dog, it’s too dark to read. <br>Groucho Marx<br></p>
            <p class="quotes">Women who read are dangerous</p>
            <p class="quotes">You know you’ve read a good book when you turn the last page and feel a little as if you have lost a friend. <br>Paul Sweeney</p>
            <p class="quotes">Literacy is a bridge from misery to hope. <br>Kofi Annan</p>
            <p class="quotes">Read, read, read. <br>William Faulkner</p>
          </div>
      </div>
      
             <%= render "submit_button" %>
             <%= render "three_book_layout" %>

          

    <div class="row" id="buttons">
    
      <div class="col-xs-12 col-sm-4 col-md-4 col-md-offset-4" id="tweeting">
          <li>

          <%= form_for @selection do |f| %>
            <%= f.hidden_field 'book_ids', multiple: true, value: nil, id: 'book1' %>
            <%= f.hidden_field 'book_ids', multiple: true, value: nil, id: 'book2' %>
            <%= f.hidden_field 'book_ids', multiple: true, value: nil, id: 'book3' %>
            <%= f.button %>
            <% end %>
            </li>   
        </div>
      </div>

    </div>

      

      <%= render :partial => 'layouts/footer' %>
  </div> 
</div>
    
<!-- /container -->
   

          <!-- MOBILE SITE **** MOBILE SITE **** MOBILE SITE **** -->

<div id="mobile"> <!-- MOBILE SITE **** MOBILE SITE **** MOBILE SITE **** -->


  <!-- Sidebar -->
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">

      <div class="book" data-book-id="1" data-filled='false'>
        <div class="row">
          <div class="col-xs-4">
            <%= image_tag("placeholder.jpg", class: "panel-image-preview", style: "width:70px") %>
          </div>
          <div class="col-xs-6 col-xs-offset-1">
            <h2>Title</h2>
            <button class="btn-success next_book" id="choose_another">Wrong Cover</button>
          </div>
        </div>
      </div>


      <div class="book" data-book-id="2" data-filled='false'>
        <div class="row">
          <div class="col-xs-4">
            <%= image_tag("placeholder.jpg", class: "panel-image-preview", style: "width:70px") %>
          </div>
          <div class="col-xs-6 col-xs-offset-1">
            <h2>Title</h2>
            <button class="btn-success next_book" id="choose_another">Wrong Cover</button>
          </div>
        </div>
      </div>
 

      <div class="book" data-book-id="3" data-filled='false'>
        <div class="row">
          <div class="col-xs-4">
            <%= image_tag("placeholder.jpg", class: "panel-image-preview", style: "width:70px") %>
          </div>
          <div class="col-xs-6 col-xs-offset-1">
            <h2>Title</h2>
            <button class="btn-success next_book" id="choose_another">Wrong Cover</button>
          </div>
        </div>
      </div>


      <div class="col-xs-12">
        <button id="menu-close" href="#" class="btn btn-default">Choose Another <i class="fa fa-arrow-circle-o-right"></i></button>
      </div>


    </div>




    <!-- Page content -->
    <div id="page-content-wrapper">
    <!-- Static navbar -->

       <div class="navbar navbar-default navbar-static-top" role="navigation" id="main-nav">
         <div class="container">
           <div class="navbar-header">
              <a class="navbar-brand">#dogeared</a>
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="./">Static top</a></li>
                <li><a href="../navbar-fixed-top/">Fixed top</a></li>
              </ul>
            </div><!--/.nav-collapse -->
          </div>
        </div>
        <!-- Keep all page content within the page-content inset div! -->
        <div class="page-content inset">
          <div class="row">
            <div class="col-xs-8 col-xs-offset-1">
              <p class="bubble thought">I think… LARA... what should they think?</p>
            </div>

            <div class="col-xs-12 col-md-6 col-md-offset-3">
              <div class="form-group" id="title">        
                <%= form_for @book do |f| %>
                  <%= f.text_field :title, placeholder: "Your first book" %>
                  <%= f.submit "Submit", class: "button button-flat-caution" %> 
                <% end %>
              </div>
              <div class="col-xs-4 col-xs-offset-2">
                  <a id="menu-toggle" href="#" class="btn btn-default"><i class="fa fa-arrow-circle-o-left"></i> See my selections...</a>
              </div>
              

                <div class="col-s-4">
                  <%= form_for @selection do |f| %>
                    <%= f.hidden_field 'book_ids', multiple: true, value: nil, id: 'book1' %>
                    <%= f.hidden_field 'book_ids', multiple: true, value: nil, id: 'book2' %>
                    <%= f.hidden_field 'book_ids', multiple: true, value: nil, id: 'book3' %>

                    <%= f.button do %>
                    <i class="fa fa-twitter fa-5x"></i>

                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>

        </div>

    </div>




 
    <!-- Put just before closing body tag so pages load faster -->
    <!-- Obtain jquery javascript library from CDN -->
    <!-- Check http://code.jquery.com/ for latest version. -->
    <!-- Obtain Bootstrap javascript library from CDN (online service) so it doesn't have to be on my machine -->


    <script>
      $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
        $("#main-nav").toggleClass("hide");
      });
    </script>

    <script>
    $("#menu-close").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass();
        $("#main-nav").toggleClass("hide");
    });
    </script>
 
 

  </body>
</html>



