<div class="container">

      <div class="row">
        <div class="col-xs-12 col-md-4 col-md-offset-1" id="top">
              <h1>
                #dogears
              </h1>
         </div>

        <div class="col-xs-12 col-md-4 col-md-offset-3" id="top">
            <div class="row">
                <div class="tweetbar">
                    <% if @user %>
                        <%= image_tag(@user.avatar_url, :class => "twitter-img") if @user.avatar_url %>
                        <%= @user.name + "'s favourite books" %>
                    <% end %>

                <a href="https://twitter.com/share"  data-text="3 Books That Made Me #dogearedpages" data-lang="en" data-size="large" data-count="none">Tweet me</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                </div>
            </div>
            <div class="row">
                <div class="tweetbar">
                <p> <%= link_to "Choose Your 3 Books", new_selection_path %></p>
                </div>
            </div>
        </div>
    </div>


    <div class='container book-choices'>
    	<%= render "hover_effect_books" %>
    </div>


	<div class="row">

		<%= render 'top10_books.html.erb' %>

	</div>

	<%= render :partial => 'layouts/footer' %>

</div>
