<center>
<div class="col-sm-4 col-xs-12 col-md-3 col-lg-6 col-lg-offset-2 user-profile">
    <% if @user %>
        <%= image_tag(@user.avatar_url) if @user.avatar_url %>
        <%= @user.name + "'s favourite books" %>
    <% end %>

    <a href="https://twitter.com/share" class="twitter-share-button" data-text=" I picked the books the changed my life. What are yours? #lifelibrary" data-lang="en" data-size="large" data-count="none">Tweet my LifeLibrary</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>
</center>



<div id="webbrowser">
<%= render "create_books_button" %>
</div>


<%= render "create_books_button" %>

<%= render "hover_effect_books" %>

<%= render 'top10_books.html.erb' %>
