<nav class="navbar navbar-fixed-top navbar-tweet" role="navigation">
<center>

    <% if @user %>
        <%= image_tag(@user.avatar_url, :class => "twitter-img") if @user.avatar_url %>
        <%= @user.name + "'s favourite books" %>
    <% end %>

    <a href="https://twitter.com/share"  data-text=" I picked the books the changed my life. What are yours? #lifelibrary" data-lang="en" data-size="large" data-count="none">Tweet me</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

</center>
</nav>


<div class='container book-choices'>
	<%= render "hover_effect_books" %>
</div>

<div class='container'>

	<div class="row">

		<%= render 'top10_books.html.erb' %>

	</div>

	<%= render :partial => 'layouts/footer' %>

</div>