<div class="container">

      <div class="row">
        <div class="col-xs-12 col-md-4 col-md-offset-1" id="top">
              <h1>
                #dogearedpages
              </h1>
         </div>

        <div class="col-xs-12 col-md-4 col-md-offset-3" id="top">
            <div class="row">
                <div class="tweetbar">
                 <div class="soup">
                    <% if @user %>
                        <%= image_tag(@user.avatar_url, :class => "twitter-img") if @user.avatar_url %>
                        <%= @user.name %>
                    <% end %>
                 </div>
                 <div class="soup">
                    <style type="text/css" media="screen">
                          #custom-tweet-button a {
                          font-size: 20px;
                          }
                        </style>
                         
                        <div id="custom-tweet-button">
                          <a href="<%= "http://twitter.com/share?url=http%3A%2F%2Fdogearedpages.me/users/#{@user.name}&text=3%20books%20that%20made%20me%20%23dogearedpages"%>" target="_blank"><i class="fa fa-twitter fa-2x"></i> Tweet Now</a>
                        </div>
                 </div>
                 <div class="clear">
                 </div>
                </div>
            </div>
            <div class="row">
                <div class="tweetbar-bottom">
                <p><%= link_to new_selection_path do %><i style="color:#0C063C" class="fa fa-heart"></i> Choose My Books  
                <% end %></p>
                </div>
            </div>

        
     
              
                
    <div class="non-web" id="mobile">
      <div class="row" style="text-align:center">
        <a class="btn btn-md btn-primary" href="#top_10_books">Top 10 Books</a>
        <a class="btn btn-md btn-primary" href="#tweets">Tweets</a>
      </div>
    </div>
            
    </div>   


    <div class='container book-choices'>
    	<%= render "hover_effect_books" %>
    </div>


	<div class="row">

		<%= render 'top10_books.html.erb' %>
    </div>

	</div>

	<%= render :partial => 'layouts/footer' %>

    </div>
</div>

