<!DOCTYPE html>
<html>
	<head>
	  <title>FinalProject</title>
	  
	  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
	  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	  <%= csrf_meta_tags %>
	  <link href='http://fonts.googleapis.com/css?family=Special+Elite' rel='stylesheet' type='text/css'>

	  
	</head>
		<body>
                   <li> <%= link_to user_omniauth_authorize_path(:twitter) do %>  <i class="fa fa-twitter fa-2x"></i>
                     <% end %>
                   </li>    


				<%= yield %>
					<p class="notice"><%= notice %></p>
					<p class="alert"><%= alert %></p>
		</body>
		
</html>

