<!DOCTYPE html>
<!-- allows you to call the angular by using the "ng-app"='bookspiration' -->
<html ng-app='bookspiration'>
	<head>
	  <title>FinalProject</title>
	  
	  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	  <%= csrf_meta_tags %>
	  <link href='http://fonts.googleapis.com/css?family=Special+Elite' rel='stylesheet' type='text/css'>

	  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.11/angular.min.js"></script>
	  <script src="src/facebox.js"></script>
	  <script src="src/facebox.css"></script>

	  
	</head>
		<body>

			<ul class="hmenu">
			  <%= render 'devise/menu/registration_items' %>
			  <%= render 'devise/menu/login_items' %>
			</ul>

				<%= yield %>
				
					
					<p class="notice"><%= notice %></p>
					<p class="alert"><%= alert %></p>

		</body>
</html>

